<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/mjv-1585819697-kenoby-thumbnail-250x250png.png" alt="Avatar" class="avatar" >
    </div>
  
    <div class="container"> 
      
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="uname" required [(ngModel)]="email">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required >
     
      <p class="text" *ngIf="error">Usuário/Senha Inválidos, tente novamente!</p>
      <button type="submit" (click)="authenticate()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>