<form>
    <div class="formContainer">
        <div class="imgcontainer">
            <img src="https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/mjv-1585819697-kenoby-thumbnail-250x250png.png" alt="Avatar" class="avatar" >
         </div>            
        <h1>Cadastrar-se:<hr></h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Email" name="email" required>
        <label for="email"><b>Data de nascimento</b></label>
        <input type="text" placeholder="Data de nascimento" name="email" required>        
        <label for="password"><b>Senha</b></label>
        <input type="password" placeholder="Senha" name="password" required>      
        <label>
        <input type="checkbox" checked="checked" name="remember" > Remember me
        </label>
        
        <div>
            <button type="button" class="cancel">Cancel</button>
            <button type="submit" class="signup">Sign Up</button>
        </div>
    </div>
    </form>